@import "cockpitng-globals.scss";

div.yw-sideNavigation .yw-treeCellInner {
	@include setSideNavigationIconGlyph("backoffice_group_saprevenuecloud_name", "subscription_billing");
}

 
div.yw-explorerTree .y-tree-icon {
 
    @include setTreeIconGlyph("backoffice_group_saprevenuecloud_name", "subscription_billing");

 
}

div.yw-explorerTree .y-tree-icon-backoffice_group_saprevenuecloud_name.y-tree-icon {
    background-image: none; 
}
div.yw-explorerTree .y-tree-icon-backoffice_group_saprevenuecloud_name.y-tree-icon:before {
      font-family: var(--bo-content-icon-font-family);
      content: _getIconGlyphContentValue("subscription_billing");
      color: var(--bo-content-icon-color); 
    }

