se-navigation-node .se-dropdown-item__delete-page-popover {
    &,
    .se-tooltip {
        max-width: 100%;
    }
}

.col-xs-left {
    padding-left: 0px;
}
.col-xs-right {
    padding-right: 30px !important;
}

