@charset "utf-8";
$saps4ombackoffice-container-background: var(--bo-base-background);
$saps4ombackoffice-container-font-family: var(--bo-font-family);
$saps4ombackoffice-container-font-size: var(--bo-font-size);
$saps4ombackoffice-label-text-color: var(--bo-text-color);
